* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 0px 20px 200px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #82a70c;
}

header img {
  height: 45px;
  border: 1px solid #42515f;
  margin-right: 5px;
  background-color: #f7f7f7;
}

header div h3 {
  display: flex;
  flex-flow: column wrap;
  font-weight: bold;
  line-height: 1.8ch;
}

header div h3 span {
  color: #42515f;
}

.mainSection {
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  max-width: 1125px;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000029;
}

form {
  width: 85%;
  padding: 44px 60px;
  display: flex;
  flex-flow: column wrap;
}

.formHeader h3 {
  text-transform: capitalize;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #42515f;
  letter-spacing: 0px;
}

.rowContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.label {
  min-width: 140px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.text {
  font-size: 16px;
  color: #42515f;
  font-family: "Roboto";
  opacity: 1;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.profile-radio-content {
  display: flex;
  flex-direction: row;
}

.profile-radio-content label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile {
  width: 40px;
  margin-left: 12px;
}
